USE [master]
GO

/****** Object:  Database [test]    Script Date: 9/15/2024 1:46:35 PM ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE thai_ci_as
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 9/15/2024 1:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[CS_CODE] [int] NOT NULL,
	[COURSE_NAME] [varchar](512) NULL,
	[B_CRE_LEC] [int] NULL,
	[B_CRE_LAB] [varchar](512) NULL,
	[TT_CREDIT] [int] NULL,
 CONSTRAINT [PK_courses] PRIMARY KEY CLUSTERED 
(
	[CS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrollments]    Script Date: 9/15/2024 1:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrollments](
	[NNO] [int] NOT NULL,
	[STD_ID] [int] NULL,
	[CS_CODE] [int] NULL,
	[SM_SEM] [varchar](512) NULL,
	[SM_YR] [int] NULL,
	[RG_TYPE] [varchar](512) NULL,
	[LC_SECTION] [int] NULL,
	[LB_SECTION] [int] NULL,
 CONSTRAINT [PK_enrollments] PRIMARY KEY CLUSTERED 
(
	[NNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 9/15/2024 1:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[ID] [int] NOT NULL,
	[Title] [varchar](512) NULL,
	[FirstName] [varchar](512) NULL,
	[LastName] [varchar](512) NULL,
	[Major] [varchar](512) NULL,
	[Advisor] [varchar](512) NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[courses] ([CS_CODE], [COURSE_NAME], [B_CRE_LEC], [B_CRE_LAB], [TT_CREDIT]) VALUES (6151, N'Principle of Cookery', 2, N'1', 3)
INSERT [dbo].[courses] ([CS_CODE], [COURSE_NAME], [B_CRE_LEC], [B_CRE_LAB], [TT_CREDIT]) VALUES (102181, N'Introduction to Economics', 3, N'0', 3)
INSERT [dbo].[courses] ([CS_CODE], [COURSE_NAME], [B_CRE_LEC], [B_CRE_LAB], [TT_CREDIT]) VALUES (106311, N'Introduction to Natural Resources', 3, N'0', 3)
GO
INSERT [dbo].[enrollments] ([NNO], [STD_ID], [CS_CODE], [SM_SEM], [SM_YR], [RG_TYPE], [LC_SECTION], [LB_SECTION]) VALUES (43, 50371525, 175122, N'1', 48, N'C', 800, 0)
INSERT [dbo].[enrollments] ([NNO], [STD_ID], [CS_CODE], [SM_SEM], [SM_YR], [RG_TYPE], [LC_SECTION], [LB_SECTION]) VALUES (47, 50371525, 1420111, N'1', 50, N'C', 0, 832)
INSERT [dbo].[enrollments] ([NNO], [STD_ID], [CS_CODE], [SM_SEM], [SM_YR], [RG_TYPE], [LC_SECTION], [LB_SECTION]) VALUES (49, 50371525, 1420113, N'1', 48, N'C', 800, 0)
GO
INSERT [dbo].[students] ([ID], [Title], [FirstName], [LastName], [Major], [Advisor]) VALUES (50211630, N'นางสาว', N'กนกรัชต์', N'สวนด้วง', N'S09', N'')
INSERT [dbo].[students] ([ID], [Title], [FirstName], [LastName], [Major], [Advisor]) VALUES (50211648, N'นางสาว', N'กรองทอง', N'แสงสุวรรณ', N'S09', N'')
INSERT [dbo].[students] ([ID], [Title], [FirstName], [LastName], [Major], [Advisor]) VALUES (50211655, N'นาย', N'กฤตภัค', N'ศิลานุวัฒน์', N'S09', N'')
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_courses] FOREIGN KEY([CS_CODE])
REFERENCES [dbo].[courses] ([CS_CODE])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FK_enrollments_courses]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_students] FOREIGN KEY([STD_ID])
REFERENCES [dbo].[students] ([ID])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FK_enrollments_students]
GO
USE [master]
GO
